body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #202020;
  color: #c7c7c7;
}

#streamChart {
  transform: rotate(90deg);
  position: fixed;
  margin-left: -720px
}

.Stats {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 30px;
}
.Stats td:nth-child(1) {
  text-align: left;
}

.Stats td:nth-child(2) {
  text-align: right;
}


#power-gauge g.arc {
  fill: steelblue;
}

#power-gauge g.pointer {
  fill: #e85116;
  stroke: #b64011;
}

#power-gauge g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}